*.php linguist-language=php
*.html linguist-language=html
*.sql linguist-language=sql

public/* linguist-vendored
core/public/* linguist-vendored
core/views/template_compile/* linguist-vendored
vendor/* linguist-vendored
*.js linguist-vendored
