		</div>
	</div>
    <div class="container">
	    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; text-align: center;">
	        <div class="container">
	            <small class="copyright pull-left">Copyright © 2016 - 2017 | <a href="http://felideo.com.br" target="_blank">Felideo (Diego Pires)</a> - <a href="https://github.com/felideo" target="_blank">Github</a> - <a href="http://lattes.cnpq.br/4155283413710538" target="_blank">Lattes</a></small>
	        </div>
	    </nav>
	</div>

    <script type="text/javascript">
        {if isset($_SESSION['alertas'])}
            {$_SESSION['alertas']}
        {/if}

        {if isset($_SESSION['notificacoes'])}
            {foreach from=$_SESSION['notificacoes'] item=notificacao}
                {$notificacao}
            {/foreach}
        {/if}

        $(window).load(function(){
            limpar_alertas_ajax();
            limpar_notificacoes_ajax();
        });
    </script>
</body>
</html>