<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                {if isset($cadastro)}Editar {$modulo.send}{elseif !empty($lazy_view)}Visualizar {$modulo.send}{else}Cadastrar {$modulo.send}{/if}
            </div>
            <div class="panel-body">
                <form method="post" class="lazy_view"
                    {if isset($cadastro)}
                        action="/{$modulo.modulo}/update/{$cadastro['id']}"
                    {else}
                        action="/{$modulo.modulo}/create"
                    {/if}
                >
